.about-us__hero {
  min-height: 850px;
  max-height: 850px;
  padding: 225px 0 305px 0;
  text-align: center;
  background: url('/images/about-us/hero-bg.png'), #f5f8fb;
}

.about-us__hero h1 {
  margin-bottom: 16px;
  position: relative;
  color: #06384d;
  line-height: 130%;
  display: inline-block;
}
.about-us__hero h1::after {
  content: '';
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -10px;
  width: 212px;
  height: 12px;
  background: url('/images/about-us/about-hero-line.png');
}
.about-us__hero p {
  line-height: 130%;
  letter-spacing: 0.02em;
  max-width: 662px;
  font-size: 18px;
  margin: 0 auto;
  margin-bottom: 60px;
}
.about-us__hero a {
  margin-bottom: 60px;
}
.about-us__hero img {
  display: block;
  margin: 0 auto;
}

.team {
  background: url('/images/about-us/our-team-bg.png');
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: 184px;
  margin-top: 450px;
}
.team .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 125px;
  padding-bottom: 70px;
}
.team__images {
  max-width: 637px;
  width: 100%;
  position: relative;
  height: 634px;
}
.team__images img:nth-of-type(2) {
  position: absolute;
  top: 195px;
  z-index: 2;
  right: 0;
}

.team__images img:nth-of-type(3) {
  position: absolute;
  left: 70px;
  top: 370px;
}
.team__text {
  max-width: 404px;
}
.team__text h4 {
  color: #668593;
  line-height: 130%;
  letter-spacing: 0.02px;
  font-weight: 600;
}
.team__text h2 {
  margin-bottom: 40px;
  position: relative;
  display: inline-block;
  background: linear-gradient(to left, #082c3a 0%, #1b7196 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.team__text h2::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -10px;
  background: url('/images/about-us/our-team-line.png');
  width: 153px;
  height: 11px;
}

.team__text p {
  line-height: 130%;
  letter-spacing: 0.02em;
  color: #517482;
}

.contact-us {
  padding: 55px 0;
  position: relative;
}
.contact-us::before,
.contact-us::after {
  content: '';
  position: absolute;
}
.contact-us::before {
  background: url('/images/about-us/diamond-l.png');
  width: 125px;
  height: 130px;
  left: 38%;
  bottom: -75px;
}
.contact-us::after {
  left: 90%;
  top: 175px;
  width: 55px;
  height: 57px;
  background: url('/images/about-us/diamond-sm.png');
  mix-blend-mode: screen;
  transform: matrix(-1, 0, 0, 1, 0, 0);
}
.contact-us .container {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.contact-us h2 {
  color: #06384d;
  margin-bottom: 32px;
}
.contact-us ul {
  margin-left: 16px;
}
.contact-us ul li {
  display: flex;
  margin-bottom: 16px;
  line-height: 130%;
  letter-spacing: 0.02em;
  color: #517482;
}
.contact-us ul li img {
  margin-right: 8px;
}
@media only screen and (max-width: 1200px) {
  .contact-us__image {
    margin-left: 30px;
  }
  .contact-us ul li {
    align-items: flex-start;
  }
  .team__text {
    margin-left: 30px;
  }
}
@media only screen and (max-width: 1024px) {
  .contact-us__image {
    max-width: 350px;
  }
  .about-us__hero img {
    max-width: 100%;
  }
  .team .container {
    flex-direction: column-reverse;
  }
  .team__text {
    margin-left: 0;
    text-align: center;
    margin-bottom: 50px;
  }
}
@media only screen and (max-width: 768px) {
  .contact-us .container {
    display: flex;
    flex-direction: column;
  }
  .contact-us__image {
    margin-left: 0;
    max-width: 100%;
    margin-top: 50px;
  }
  .team__images {
    max-width: 100%;
  }
  .team {
    margin-top: 100px;
  }
  .team .container {
    padding: 50px 0;
  }
  .contact-us {
    padding-top: 0;
  }
}
@media only screen and (max-width: 576px) {
  .contact-us ul {
    margin-left: 0;
  }
  .team__images {
    max-height: 450px;
  }
  .team__images img:first-of-type {
    max-width: 90%;
  }
  .team__images img:nth-of-type(2) {
    max-width: 250px;
    top: 150px;
  }
  .team__images img:nth-of-type(3) {
    max-width: 70%;
    top: 200px;
    left: 0;
  }
  .contact-us::after {
    left: 80%;
    top: 100px;
  }
}
